<section class="job-details">
  <div class="job-info">
    <h2><%= job.job_name %></h2>
    <h3>Company: <%= job.company_name %></h3>
    <h3>Location: <%= job.job_location %></h3>
    <h3>Salary: $<%= job.salary %></h3>
    <h3>Required Skills:</h3>
    <ul>
      <% job.skills.forEach(skill => { %>
      <li><%= skill %></li>
      <% }) %>
    </ul>
    <a href="/application_form/<%= job.id %>" class="btn">Apply Now</a>
  </div>
</section>
