<section class="jobs">
  <div class="search">
    <form action="/search" method="POST">
      <input type="text" name="job_name" placeholder="Search with name" />
      <button type="submit">Search</button>
    </form>
  </div>

  <% if(message) { %>
  <div class="alert alert-danger" role="alert"><%= message %></div>
  <% } %>

  <div class="job-cards">
    <% jobs.forEach((job) => { %>
    <div class="job-card">
      <h3><%= job.job_name %></h3>
      <h3><%= job.company_name %></h3>
      <h3><%= job.job_location %></h3>
      <h3><%= job.salary %></h3>
      <h3><%= job.skills %></h3>
      <a href="/jobDetails/<%= job.id %>" class="btn">view details</a>
    </div>
    <% }) %>
  </div>
</section>
